
  <div class="cont"> <app-logic-list> </app-logic-list></div>
  
<!--pagination
<div class="row">
  <div class="col md-2 d-flex justify-content-center">
      <div class="form-inline float-left mr-1">
          <select class="form-control" [value]="logicielPerPage" (change)="changePageSize($event)">   
<option value="4"> 4 Per Page  </option>
<option value="8"> 8 Per Page  </option>
<option value="12"> 12 Per Page  </option>
<option value="16"> 16 Per Page  </option>
<option value="20"> 20 Per Page  </option>
          </select>




      </div>

      <div class="btn-group flot-right">>
        <button class="btn btn-outline-primary active" *ngFor="let page of PageNumbers">1</button>
        <button class="btn btn-outline-primary">2</button>
        <button class="btn btn-outline-primary">3</button>
        <button class="btn btn-outline-primary">4</button>
      
      </div>

  </div>



</div>
-->