.text_color {
    color: rgb(17, 20, 228);
}

a.nounderline:link {
    text-decoration: none;
}

footer {
    background-color: rgb(17, 20, 228);
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}