<marquee behavior="scroll" scrolldelay="10" direction="left" width="100%"  style="margin-bottom: 0;height: 35px;">
    <h4 style="padding-bottom: 10px;text-align: center;justify-content: center;align-items: center;"> Le Socle Interministériel des logiciels libres ( <b>SILL</b> ) est une liste de
        logiciels libres qui sont préconisés et promus par l'état Burkinabè dans l'ensemble de ses démembrements, pour
        garantir sa souveraineté numérique et la mise en place progressive des systèmes d'informations fiables et
        sécurisés.
</h4>
 </marquee><br>
