<section class="clean-block slider dark" style="height: 150px; background-color:blue ;margin-left: 0px;margin-top: 0;">
<section class="clean-block clean-info dark" style="height: 200px;max-height: 1400px; z-index:auto;width: 100%;padding-left: 0px;">
  <div class="row align-items-center" style="margin-right: 20px;margin-left: 10px;border-style: none; display: flex; flex-direction:row ;">
    <div class="col-md-6" style="padding-right: 0px;margin-left: 0px; height: 220px; width:600px;margin-bottom: 5px;"><app-video></app-video></div>
      <div class="col-md-6">
        <div class="card" style="border: none;background-color:transparent;">
           <p style="text-align: justify;width: 700px; padding-left: 150px; font-size: 19px; line-height: 30px;margin-top: 0px;font-family: Georgia, 'Times New Roman', Times, serif;padding-top: 0px;">Le Socle Interministériel des logiciels libres ( <b>SILL</b> ) est une liste de
            logiciels libres qui sont préconisés et promus par l'état Burkinabè dans l'ensemble de ses démembrements, pour
            garantir sa souveraineté numérique et la mise en place progressive des systèmes d'informations fiables et
            sécurisés.Ces logiciels sont des references en matières de logiciels libre à utiliser dans
            l'ensemble des demembrements de l'etat.</p>
        </div>
      </div>
    </div>
</section>
</section>