
       <app-menu></app-menu>
    

    <section class="clean-block slider dark" >
        <app-carousel></app-carousel>
        <app-text></app-text>
        <section class="clean-block clean-info dark"style="height: 200px;">
            <div class="row align-items-center" style="margin-right: 10px;margin-left: 0px;">
                <div class="col-md-6" style="padding-right: 0px;padding-left: 0px;padding-right: 20px;height:200px;margin-bottom: 40px;">
                    <app-video></app-video>
                </div>

                <div class="col-md-6">

                    <div class="getting-started-info">
                        <p
                            style="text-align: justify;width: 650px;padding-left: 50px;font-size: 14pt ;line-height:25pt;margin-top:0px ;">
                            logiciels libres qui sont préconisés et promus par l'état Burkinabè dans l'ensemble de ses
                            démembrements, pour garantir sa souveraineté numérique et la mise en place progressive des systèmes
                            d'informations fiables et sécurisés. Ces logiiciels sont des references en matières de logiciels libre à utiliser dans
                            l'ensemble des demembrements de l'etat.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>





